@import "../../../../styles/variables.scss";

.donation {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  overflow-y: auto;

  .donationContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    gap: 30px;
    padding: 20px;
    max-width: 1000px;

    @media screen and (min-width: 1200px) {
      height: calc(100vh - 70px);
      gap: 40px;
      padding: 40px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;

      .text {
        .line1 {
          font-family: "Ubuntu";
          font-size: 28px;
          font-weight: 700;
          text-align: left;
          color: $gray-color;

          @media screen and (min-width: 1200px) {
            font-size: 45px;
          }
        }

        .line2 {
          font-family: "Ubuntu";
          font-size: 21px;
          font-weight: 700;
          text-align: left;
          color: $green-color;

          @media screen and (min-width: 1200px) {
            font-size: 30px;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .image {
        height: 357px;
        width: 100%;
        background-image: url(./bicicultura.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (min-width: 1200px) {
          width: 375px;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 20px;

        @media screen and (min-width: 1200px) {
          width: calc(100% - 400px);
        }

        p {
          text-align: justify;
        }

        .buttons {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 20px;

          @media screen and (min-width: 1200px) {
            width: 320px;
          }

          p {
            text-align: center;
            font-weight: 600;
            color: $dark-gray-color;
          }

          .amountButtons {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
