@import "../../../styles/mixins.scss";

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 60px;

  .desktop {
    @include media-md() {
      display: none;
    }
  }

  .desktitle {
    @include media-md() {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  @include media-xl() {
    gap: 40px;
    padding: 50px;
  }

  @include media-lg() {
    gap: 30px;
    padding: 40px;
  }

  @include media-md() {
    gap: 20px;
    padding: 30px;
  }

  @include media-sm() {
    gap: 10px;
    padding: 20px;
  }
}

.imgContainer {
  @include media-sm() {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  img {
    width: 100%;
  }
}

.title {
  display: block;

  @include media-sm() {
    display: none;
  }
}