@import "../../../styles/mixins.scss";

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 40px;
 margin-bottom: 40px;
 width: auto;
 height: auto;
 
  

  @include media-lg() {
    background-image: url('/img/aboutus/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 20px;
    padding: 20px;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
  position: relative; /* Cambiado de absolute a relative */

  @include media-lg() {
    gap: 40px;
    width: 100%;
  }
}
