.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #ededed;
  border-radius: 75px;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.link {
}
