@import "../../../styles/variables.scss";

.login {
  .logo {
    width: 303px;
    height: 95px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.password {
  color: $blue-color;
  cursor: pointer;
  border-bottom: 1px solid $blue-color;

  &:hover{
    color: #136981;
    border-bottom: 1px solid #136981;
  }
}