@import "../../../styles/variables.scss";
@import "../../../styles/functions.scss";

.comboBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-color;
  border-radius: $border-radius-text;
  height: 50px;

  &::after {
    content: "\025be";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 100%;
    border-left: 1px solid $gray-color;
    background-color: $light-gray-color;
    border-radius: 0 $border-radius-text $border-radius-text 0;
    position: absolute;
    right: 0px;
    pointer-events: none;
    color: $dark-gray-color;
  }

  .combo {
    height: 100%;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-top: 15px;
    font-size: pxToRem(16);
    width: 100%;
    border-radius: $border-radius-text;

    &:focus {
      background-color: $text-focus-color;
    }
  }

  label {
    left: 15px;
    position: absolute;
    font-weight: 600;
    color: $dark-gray-color;
    transition: transform 0.3s;
    background-color: transparent;
    transform: translateY(-13px) translateX(-2px);
    font-size: 12px;
  }
}
