@import "../../../styles/variables.scss";

.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $gray-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $dark-gray-color;
      color: $white-color;
    }

    &:active {
      transform: scale(0.9);
    }

    svg {
      font-size: 13px;
      color: #fefef3;
    }
  }
}
