@import "../../../../styles/variables.scss";

.section {
  min-width: 340px;
  max-width: 1200px;
  width: 100%;
  border: 1px solid $ultra-light-gray-color;
  border-radius: $border-radius-text;

  .sectionTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    background-color: $ultra-light-gray-color;
    padding: 0 20px;
  }

  .sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: lighten(blue, 49);
      width: 90%;
      border-radius: $border-radius-text;
      padding: 30px;

      @media screen and (min-width: 1200px) {
        height: 150px;
        width: 700px;
      }

      .text1 {
        font-size: 18px;
        font-weight: 500;
      }

      .text2 {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}

.termsAndConditions {
  overflow-y: auto;
  height: calc(100vh - 320px);

  @media screen and (min-width: 1200px) {
    height: calc(100vh - 230px);
  }
}

.termsAndConditionsLink {
  color: black;
  font-weight: 600;
}

.section {
  &.selected {
    .sectionTitle {
      background-color: darken($green-color, 5);
      color: white;
    }

    .sectionContent {
      background-color: rgb(248, 248, 248);

      // input {
      //   border: 1px solid #999999 !important;
      // }
    }
  }
}

.menuModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in;

  .menuOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green-color;
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
    color: white;
    width: 220px;
    transition: all 0.3s ease-in;
    cursor: pointer;

    span {
      color: white;
    }

    &:hover {
      background-color: darken($green-color, 10);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  gap: 20px;

  .success {
    color: $green-color;
  }

  .warning {
    color: orange;
  }

  .error {
    color: red;
  }
}
