.dropShape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/card/discount.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 41px;
    height: 31px;

    h3 {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: white;
    }
}