.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .landingBanner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vw * 0.3);
  }

  .title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03495c;
    color: white;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 28px;
      font-weight: 700;
      height: 70px;
      padding: 0 35px;
      border-radius: 35px;
      margin-top: 50px;
    }
  }

  .description {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #03495c;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;

    @media screen and (min-width: 1200px) {
      font-size: 32px;
      font-weight: 600;
      color: #03495c;
      text-align: center;
      width: 1200px;
      margin-top: 15px;
      padding: 0;
    }
  }

  .highlighted {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #b4cd25;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-top: 50px;
    }
  }

  .priceOld {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    color: #b4cd25;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    text-decoration: line-through;

    @media screen and (min-width: 1200px) {
      font-size: 20px;
      margin-top: 15px;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    color: #03495c;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    gap: 10px;

    span {
      font-family: Inter;
      font-size: 12px;
      font-weight: 600;
      background-color: #959595;
      color: white;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @media screen and (min-width: 1200px) {
        font-size: 22px;
      }
    }

    @media screen and (min-width: 1200px) {
      font-size: 40px;
      margin-top: 15px;
    }
  }

  .button {
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: #b4cd25;
    height: 30px;
    padding: 0 20px;
    border-radius: 15px;
    margin-top: 10px;
    transition: all 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:active {
      transform: scale(0.9);
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      height: 50px;
      padding: 0 40px;
      border-radius: 25px;
      margin-top: 15px;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    margin-top: 20px;
    margin-bottom: 50px;

    @media screen and (min-width: 1200px) {
      gap: 15px;
      width: 1200px;
      margin-top: 50px;
    }

    .tableHeader {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media screen and (min-width: 1200px) {
        flex-direction: row;
      }

      .tableHeaderTitie {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        text-align: center;
        background-color: #03495c;
        height: 30px;
        width: 100%;
        border-radius: 15px;

        &:not(:first-child) {
          display: none;
        }

        @media screen and (min-width: 1200px) {
          font-size: 24px;
          height: 50px;
          width: 270px;
          border-radius: 25px;

          &:not(:first-child) {
            display: flex;
          }
        }
      }
    }

    .tableDetail {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (min-width: 1200px) {
        gap: 15px;
      }

      .tableRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #ededed;
        height: 100px;
        gap: 0px;
        border-radius: 15px;

        @media screen and (min-width: 1200px) {
          flex-direction: row;
          gap: 40px;
          border-radius: 0;
        }

        .tableCell {
          font-family: Inter;
          font-size: 18px;
          font-weight: 600;
          color: #03495c;
          text-transform: uppercase;
          text-align: center;
          width: 270px;
          padding: 0 20px;

          &:nth-child(1) {
            font-size: 14px;
            font-weight: 800;
            color: #03495c;
            padding: 0 10px;

            @media screen and (min-width: 1200px) {
              font-size: 18px;
              width: 270px;
            }
          }

          &:nth-child(2) {
            div:nth-child(1) {
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: Inter;
              font-size: 16px;
              font-weight: bold;
              text-transform: none;
              color: #b4cd25;

              //white-space: nowrap;

              span {
                font-size: 16px;
                color: #b4cd25;
              }

              p {
                font-size: 12px;
                color: #03495c;
              }

              @media screen and (min-width: 1200px) {
                font-size: 22px;

                p {
                  font-size: 16px;
                }

                span {
                  font-size: 24px;
                }
              }
            }

            div:nth-child(2) {
              font-family: Inter;
              font-size: 12px;
              color: #03495c;

              @media screen and (min-width: 1200px) {
                font-size: 16px;
              }
            }
          }

          &:nth-child(3) {
            font-size: 14px;
            font-weight: 600;
            color: #03495c;
            padding: 0 10px;

            @media screen and (min-width: 1200px) {
              font-size: 18px;
              width: 270px;
            }
          }

          &:nth-child(4) {
            font-size: 14px;
            font-weight: 600;
            color: #03495c;
            padding: 0 10px;

            @media screen and (min-width: 1200px) {
              font-size: 18px;
              width: 270px;
            }
          }
        }
      }
    }
  }

  .landingFooter {
    background-color: #222222;
    width: 100%;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 80px;
      padding: 30px;

      @media screen and (min-width: 1200px) {
        height: 340px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      .columnLeft {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .address {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .data {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #b2b2b2;
              width: 30px;
            }

            a {
              color: #b2b2b2;
              font-weight: 500;
              font-size: 14px;
              text-decoration: none;

              &:hover {
                color: white;
              }
            }
          }
        }

        .rrss {
          display: flex;
          gap: 10px;

          .facebook {
            width: 35px;
            height: 35px;
            background-image: url(/images/icons/facebook.png);
          }

          .instagram {
            width: 35px;
            height: 35px;
            background-image: url(/images/icons/instagram.png);
          }

          .linkedin {
            width: 35px;
            height: 35px;
            background-image: url(/images/icons/linkedin.png);
          }
        }
      }

      .columnCenter {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          color: #b2b2b2;
          font-weight: 500;
          font-size: 14px;
          text-decoration: none;

          &:hover {
            color: white;
          }
        }
      }

      .columnRight {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          color: #b2b2b2;
          font-weight: 500;
          font-size: 14px;
          text-decoration: none;

          &:hover {
            color: white;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #666666;
      height: 80px;
      color: #b2b2b2;
      font-weight: 500;
      font-size: 14px;
      //padding-left: 50px;

      @media screen and (min-width: 1200px) {
        padding-left: 50px;
        justify-content: flex-start;
      }
    }
  }
}
