@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 193 94% 19%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 193 94% 19%;

    --border: 193 94% 19%;
    --input: 193 94% 19%;

    --card: 0 0% 100%;
    --card-foreground: 193 94% 19%;

    --primary: 69 69% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 193 94% 19%;
    --secondary-foreground: 0 0% 100%;

    --accent: 193 94% 19%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --swiper-pagination-bullet-size: 14px;
    --swiper-pagination-color: hsla(0, 0%, 100%, 1);
    --swiper-navigation-size: 20px !important;
    --swiper-navigation-color: var(--foreground);
    --swiper-navigation-sides-offset: 15px;
  }

  /* 
  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 81%;

    --muted: 210 40% 30%;
    --muted-foreground: 215.4 16.3% 76.9%;

    --popover: 0 0% 25%;
    --popover-foreground: 0 0% 81%;

    --border: 0 0% 81%;
    --input: 0 0% 81%;

    --card: 0 0% 25%;
    --card-foreground: 0 0% 81%;

    --primary: 69 69% 67%;
    --primary-foreground: 0 0% 81%;

    --secondary: 193 94% 45%;
    --secondary-foreground: 0 0% 81%;

    --accent: 193 94% 45%;
    --accent-foreground: 0 0% 81%;

    --destructive: 0 100% 55%;
    --destructive-foreground: 0 0% 81%;

    --ring: 215 20.2% 45.1%;

    --radius: 0.5rem;
  } */
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  background-color: hsla(0, 0%, 85%, 0.5);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding-left: 9px;
  padding-right: 14px;
  padding-top: 6px;
  font-weight: 600;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after {
  background-color: hsla(0, 0%, 85%, 0.5);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 6px;
  font-weight: 600;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
