@import "../../../styles/variables.scss";

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lighten($gray-color, 19);
  border: 1px solid $gray-color;
  padding: 2px;
  border-radius: 5px;
  gap: 2px;

  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    gap: 2px;

    .cell {
      font-weight: 700;
      background-color: $light-gray-color;
      text-align: center;
      justify-content: center;
    }
  }

  .tableDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    gap: 2px;

    .row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 40px;
      width: 100%;
      gap: 2px;

      &:nth-child(even) .cell {
        background-color: lighten(blue, 49);
      }

      &:nth-child(odd) .cell {
        background-color: lighten(blue, 48);
      }

      .cell {
        font-size: 18px;
        font-weight: 200;
        color: #999999;
        font-family: Oswald;
      }
    }
  }

  .cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 20px;

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      svg {
        cursor: pointer;
        font-size: 20px;
        color: $dark-gray-color;

        :hover {
          color: $black-color;
        }
      }
    }
  }
}
