@import "../../../styles/variables.scss";

.masterList {
  display: grid;
  grid-template-areas:
    "title"
    "search"
    "list"
    "buttons";
  grid-template-rows: 50px 70px auto 60px;
  height: calc(100vh - 50px);
  width: 100vw;
  padding: 0 20px;

  .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: $dark-gray-color;
    border-bottom: 1px solid $gray-color;
  }

  .search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-color;
  }

  .list {
    grid-area: list;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-color;
    padding: 10px 0;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .summary {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 400px;
      font-weight: 700;
    }

    .pages {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 400px;
    }
  }
}
