.beneficiary {
  display: inline-block;
  padding: 8px 10px;
  background-color: #03495c;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px){
.beneficiary{
  font-size: 16px;
}
}