@import "../../../styles/variables.scss";

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 20px;
  gap: 20px;

  .success {
    color: $green-color;
  }

  .warning {
    color: orange;
  }

  .error {
    color: red;
  }

  .loading {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
