@import "../../../styles/variables.scss";
@import "../../../styles/functions.scss";

.radioButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid silver;
  border-radius: 3px;
  height: 105px;
  width: 50%;

  .labelGroup {
    top: 15px;
    left: 15px;
    position: absolute;
    color: $gray-color;
    transition: transform 0.3s;
    background-color: transparent;
    font-weight: 500;
    transform: translateY(-13px) translateX(0px);
    font-size: 12px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .radio {
      display: flex;
      gap: 5px;
      width: 100px;
    }
  }
}
