@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;

    .desktopMenu {
        ul {
            display: flex;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        color: #B4CD25;
                    }
                }
            }
        }
    }

    .mobileMenuIcon {
        display: none;
        cursor: pointer;

        .material-icons {
            font-size: 30px;
        }
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;

        .searchContainer {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem;
            position: absolute;
            top: 0;

            .searchInputContainer {
                position: relative;
                flex: 1;

                .searchInput {
                    width: 100%;
                    padding: 0.5rem 0.5rem 0.5rem 2rem;
                    border: none;
                    border-radius: 4px;
                    background-color: #F3F4F6;
                    border-radius: 8px;
                }

                .searchIcon {
                    position: absolute;
                    left: 0.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;

                    .material-icons {
                        font-size: 30px;
                    }
                }
            }

            .closeIcon {
                font-size: 30px;
                cursor: pointer;
                margin-left: 1rem;
                color: #B4CD25;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 5rem;
            text-align: start;
            padding: 20px;

            li {
                margin: 1rem 0;

                a {
                    text-decoration: none;
                    color: #03495C;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Bebas Neue", sans-serif;

                    &:hover {
                        color: #B4CD25;
                    }
                }
            }
        }

        .whatsAppSection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            background-color: #F3F4F6;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            padding-bottom: 40px;



            .whatsAppHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #B4CD25;
                width: 100%;
                padding: 5px 15px;
                border-radius: 20px;

                h3 {
                    color: white;
                }

                .whatsappIcon {
                    width: 20px;
                    color: white;
                    margin-right: 10px;

                }

                .material-icons {
                    cursor: pointer;
                    font-size: 30px;
                }
            }

            p {
                margin-top: 10px;
                margin-left: 10px;
                padding: 10px;
                background-color: white;
                width: 90%;
                border-radius: 8px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                position: relative;

            }

            a {
                display: flex;
                justify-content: center;
                width: 100%;

                .whatsAppButton {
                    display: flex;
                    align-items: center;
                    background-color: #B4CD25;
                    color: white;
                    font-size: 8px;
                    position: absolute;
                    top: 26rem;
                    right: 0;
                    z-index: 1;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 20px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                    gap: 10px;
                    margin: 10px;

                    .material-icons {
                        margin-left: 0.5rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .icon {
        &--white {
            color: #ffffff;
        }

        &--black {
            color: #000000;
        }

        &--red {
            color: red;
        }

    }
}

@media (max-width: 768px) {
    .menu {
        .desktopMenu {
            display: none;
        }

        .mobileMenuIcon {
            display: block;
        }
    }
}