.price {
  display: inline-block;
  padding: 7px 22px;
  background-color: #824aed;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
