.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 800;
  font-size: 6px;
  width: 260px;
  color: #03495c;

  @media screen and (min-width: 1200px) {
    height: 30px;
    font-size: 12px;
  }
}

.promotional {
  display: none;
  justify-content: center;
  align-items: flex-start;
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  width: 260px;
  color: #03495c;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    height: 70px;
    font-size: 12px;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 800;
  font-size: 10px;
  width: 260px;
  color: #b4cd25;

  @media screen and (min-width: 1200px) {
    display: flex;
    height: 30px;
    font-size: 13px;
  }
}

.priceNormal {
  font-family: Inter;
  font-weight: 300;
  font-size: 8px;
  width: 260px;
  color: red;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    height: 30px;
    font-size: 10px;
  }

  span {
    font-family: Inter;
    font-weight: 300;
    font-size: 8px;
    width: 260px;
    color: red;
    text-decoration: line-through;

    @media screen and (min-width: 1200px) {
      font-weight: 500;
      height: 30px;
      font-size: 10px;
    }
  }
}

a.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 800;
  font-size: 6px;
  width: 260px;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    height: 30px;
    font-size: 13px;
  }
}
