.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  width: 260px;
  height: 30px;
  color: #03495c;
}

.promotional {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  width: 260px;
  height: 70px;
  color: #03495c;
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 13px;
  width: 260px;
  height: 30px;
  color: #b4cd25;
}

.priceNormal {
  font-family: Inter;
  font-weight: 500;
  font-size: 10px;
  width: 260px;
  height: 30px;
  color: red;
  text-align: center;

  span {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    width: 260px;
    height: 30px;
    color: red;
    text-decoration: line-through;
  }
}

a.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 13px;
  width: 260px;
  height: 30px;
}
