@import "../../../app/styles/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  max-width: 288px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px;

  @include media-lg() {
    max-width: 230px;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.textCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 288px;
  position: relative;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #03495c;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f3f4f6;
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 18px;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
}

.text {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  max-height: calc(1.5em * 4);
  transition: max-height 0.3s ease;
  color: #03495c;
  text-align: justify;
  font-weight: 400;
  line-height: 19.36px;
}

.expanded {
  max-height: none;
  -webkit-line-clamp: unset;
}

.toggleButton {
  cursor: pointer;
  color: #03495c;
  font-weight: bold;
  border: none;
  background: none;
  transition: color 0.3s;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.toggleButton:hover {
  color: #03495c;
}

.buttonPdf {
  padding: 4px 14px;
  background-color: #03495c;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
}

.borderTop {
  height: 21px;
  width: 100%;
  background-color: #1161cb;
  margin-bottom: 7px;
  border-radius: 20px 20px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 0 0 20px 20px;
  gap: 18px;

  a {
    text-decoration: none;
    width: 190px;
  }
}

.planName {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  color: #03495c;
  margin: 12px 0 8px 0;
  text-align: center;
}

.originalPrice {
  font-size: 16px;
  font-weight: 700;
  color: #03495c;
  text-decoration: line-through;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  .currentPrice {
    font-size: 28px;
    font-weight: bold;
    color: #03495c;
  }

  .discount {
    font-size: 16px;
    background-color: #1161cb;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 4px;
  }
}

.individualPlanText {
  font-size: 20px;
  color: #03495c;
  text-align: center;
  margin-bottom: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 213px;
  max-height: 42px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }

  .buttonImage {
    width: 20px;
    height: 20px;
  }
}

.benefits {
  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #03495c;
    margin-bottom: 11px;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 12px;

      h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #03495c;
        margin: 0 0 4px 0;
      }

      .title {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 5px;
      }

      p {
        font-size: 16px;
        color: #03495c;
        font-weight: 400;
        text-align: center;
        margin: 0;
        line-height: 1.4;
      }

      span {
        font-size: 12px;
        color: #03495c;
        font-weight: 400;
        text-align: center;
        margin: 0;
        line-height: 1.4;
      }
    }
  }
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 20px;
	padding: 30px;
}

.textwithicon {
	display: inline-block;
	padding-left: 10px;
}

.firstword {
	display: inline-flex;
	align-items: center;
	position: relative;
}

.firstword::before {
	position: absolute;
	left: -30px;
	top: -15px;
	content: url("https://bancochile.serviclick.cl/img/cards/check.png");
	display: inline-block;
	margin-left: 10px; /* Espacio de 10px a la derecha de la primera palabra */
  margin-right: 5px;
	height: 10px; /* Asegura que la imagen tenga la altura adecuada */
	width: 20px; /* Asegura que la imagen tenga el ancho adecuado */
}