$size-base: 16;

// Colors

$white-color: #ffffff;
$black-color: #000000;
$green-color: #b9cb4a;
$blue-color: #1b495b;
$gray-color: #cccccc;
$dark-gray-color: #969696;
$light-gray-color: #ededed;

$link-color: #2454ff;
$text-focus-color: #fdffe7;

// Radius

$border-radius-text: 7px;
