.footer {
  background-color: #222222;
  width: 100%;

  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding: 30px;

    @media screen and (min-width: 1200px) {
      height: 340px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .columnLeft {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .address {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .data {
          display: flex;
          align-items: center;
          gap: 20px;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #b2b2b2;
            width: 30px;
          }

          a {
            color: #b2b2b2;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;

            &:hover {
              color: white;
            }
          }
        }
      }

      .rrss {
        display: flex;
        gap: 10px;

        .facebook {
          width: 35px;
          height: 35px;
          background-image: url(/prepago-los-heroes/images/icons/facebook.png);
        }

        .instagram {
          width: 35px;
          height: 35px;
          background-image: url(/prepago-los-heroes/images/icons/instagram.png);
        }

        .linkedin {
          width: 35px;
          height: 35px;
          background-image: url(/prepago-los-heroes/images/icons/linkedin.png);
        }
      }
    }

    .columnCenter {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        color: #b2b2b2;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }

    .columnRight {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        color: #b2b2b2;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #666666;
    height: 80px;
    color: #b2b2b2;
    font-weight: 500;
    font-size: 14px;
    //padding-left: 50px;

    @media screen and (min-width: 1200px) {
      padding-left: 50px;
      justify-content: flex-start;
    }
  }
}
