.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #03495c;
  }
}
@media (max-width:768px){
  .content{
    display: none;
  }
}