.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }

    .cellSeparator {
      height: 10px;
      width: 10px;
    }

    .cellAlignLeft {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .cellAlignRight {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
