.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    background-color: #f3f4f6;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  
    h2 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 26px;
      font-weight: 400;
      color: #03495c;
    }
  
    p,
    a {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #03495c;
    }
  
    .rrss {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  
  
  @media (max-width:768px){
    .content{
      
      img{
        display: none;
      }
    }
  }