@import "../../../styles/variables.scss";

.navigate {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: $ultra-light-gray-color;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: $light-gray-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
