.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    width: 100%;
    padding: 20px;
}

.text {
    display: flex;
    align-items: start;
    gap: 50px;

    p {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: white;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}