

.tableMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d3d3d3;
  width: 100%;
}

.headerTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}

.containerTable {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 5px;
  width: 100%;

  .table {
    border-spacing: 0px 5px;
    margin-top: -5px;
    padding: 0;
    width: 100%;
    thead {
      top: 0;
      z-index: 1;
      position: sticky;
      tr {
        
        th {
          background-color: #03495c;
          color: #fff;
          font-weight: 500;
          font-size: 16px;
        }
  
        th:not(:first-of-type) {
          box-shadow: -5px 0 0 #ffffff;
        }
      }
    }
  
    tbody {
      width: 100%;
      tr {
        width: 100%;
        td {
          min-height: 50px;
          height: 50px;
          width: 100%;
          background: #f3f4f6;
          .contenAccion {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50px;
            height: 50px;
            gap: 3px;
          }
        }
      }
    }
  }
}

.footerTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  padding: 10px;
  border-top: 1px solid #d3d3d3;

  .lengthDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: #333;
    font-weight: 800;
  }
}


@media (max-width: 768px){
  .containerTable{
    width: 90%;
    .table {
      border-spacing: 0px 5px;
      margin-top: -5px;
      padding: 0;
      width: 100%;
      thead {
        top: 0;
        z-index: 1;
        position: sticky;
        tr {
          
          th {
            background-color: #03495c;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
          }
    
          th:not(:first-of-type) {
            box-shadow: -5px 0 0 #ffffff;
          }
        }
      }
    
      tbody {
        width: 100%;
        tr {
          width: 100%;
          td {
            min-height: 50px;
            height: 25vh;
            width: 100%;
            background: #f3f4f6;
            .contenAccion {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              min-height: 50px;
              height: 50px;
              gap: 3px;
            }
          }
        }
      }
    }
  }
}

@media (min-width:769px) and (max-width:1199px){
  .containerTable{
    width: 90%;
    .table {
      border-spacing: 0px 5px;
      margin-top: -5px;
      padding: 0;
      width: 100%;
      thead {
        top: 0;
        z-index: 1;
        position: sticky;
        tr {
          
          th {
            background-color: #03495c;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
          }
    
          th:not(:first-of-type) {
            box-shadow: -5px 0 0 #ffffff;
          }
        }
      }
    
      tbody {
        width: 100%;
        tr {
          width: 100%;
          td {
            min-height: 50px;
            height: 10vh;
            width: 100%;
            background: #f3f4f6;
            .contenAccion {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              min-height: 50px;
              height: 50px;
              gap: 3px;
            }
          }
        }
      }
    }
  }
}