@import "../../../styles/mixins.scss";

.floatingButtonsContainer {
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  z-index: 1;

  @include media-md() {
    right: 40px;
  }


}

.button {
  padding: 22px;
  background-color: #25d366;
  border-radius: 100%;

  @include media-lg() {
    padding: 16px;
  }

  @include media-md() {
    padding: 11px;
  }

}

.button2 {
  padding: 22px;
  background-color: #3282fa;
  border-radius: 100%;

  @include media-lg() {
    padding: 16px;
  }

  @include media-md() {
    padding: 11px;
  }

}

.button img {
  width: 46px;
  height: 46px;

  @include media-md() {
    width: 26px;
    height: 26px;
  }

  @include media-lg() {
    width: 36px;
    height: 36px;
  }
}

.button2 img {
  width: 46px;
  height: 46px;

  @include media-md() {
    width: 26px;
    height: 26px;
  }

  @include media-lg() {
    width: 36px;
    height: 36px;
  }
}

.button-link,
.button2-link {
  text-decoration: none;
  color: inherit;
}

.button-link .button,
.button2-link .button2 {
  padding: 22px;
  border-radius: 100%;
  width: 46px;
  height: 46px;

  @include media-md() {
    padding: 11px;
    width: 26px;
    height: 26px;
  }

  @include media-lg() {
    padding: 16px;
    width: 36px;
    height: 36px;
  }
}

.button-link .button img,
.button2-link .button2 img {
  width: 100%;
  height: 100%;
}

.button-link .button {
  background-color: #25d366;
}

.button2-link .button2 {
  background-color: #3282fa;
}