.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.47);
  z-index: 999;
}

.window {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: calc(100vw - 20px);
  max-height: calc(100vh - 200px);
  overflow: auto;

  @media screen and (min-width: 1200px) {
    width: auto;
    height: auto;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
    }

    .title {
      font-weight: 600;
      font-size: 20px;
    }

    .closeButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
      padding: 30px;
      padding-top: 10px;
    }
  }
}
