@import url(./fonts/Inter);
@import url(./fonts/Quicksand);
@import url(./fonts/Oswald);
@import url(./fonts/Ubuntu);
@import url(./fonts/material-icons);
@import url(./fonts/material-symbols-outlined);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  font-size: 16px;
  outline-width: 0;
}

body {
  overflow: hidden;
}

a {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.3s;
}

a:hover {
  text-decoration: none;
}

a:active {
  transform: scale(0.9);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}