$size-base: 16;

// Colors
$green-color: #b4cd25;
$blue-color: #03495c;
$gray-color: #959595;

$white-color: #ffffff;
$black-color: #000000;

$dark-gray-color: darken($gray-color, 10);
$light-gray-color: lighten($gray-color, 20);
$ultra-light-gray-color: lighten($gray-color, 34);
$soft-gray-color: #f8f8f8;

$link-color: #2454ff;
$text-focus-color: #fdffe7;

// Radius

$border-radius-text: 7px;
