@import "../../../styles/variables.scss";

.tooltip {
  position: absolute;
  z-index: 200;
  top: 140px;
  left: 15px;
  background-color: rgba($green-color, 1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 300px;
  padding: 20px;
  padding-right: 18px;
  transition: left 0.3s ease-in;

  &.show {
    left: calc(calc(100vw - 300px) / 2);

    @media screen and (min-width: 1200px) {
      left: calc(100vw - 320px);
    }
  }

  &.hide {
    left: -300px;
  }

  .closeTooltip {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;

    span {
      position: absolute;
      cursor: pointer;
      color: white;
      font-size: 20px;
      right: 11px;
      top: 15px;
    }
  }

  .contentTooltip {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    max-height: 380px;
    overflow-y: auto;

    div {
      color: white;
      text-align: justify;
      line-height: 20px;
      font-size: 16px;
      font-weight: 200;
      white-space: wrap;

      b {
        color: white;
        text-align: justify;
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
