@import "../../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid $ultra-light-gray-color;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $white-color;
    height: 100%;
    width: 300px;
    padding-left: 10px;

    .logo {
      width: 51px;
      height: 51px;
      background-image: url(/favicon.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 1200px) {
        width: 243px;
        height: 51px;
        background-image: url(/logo.jpg);
      }
    }
  }

  .center {
    font-size: 22px;
    font-weight: 600;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 300px;
    padding: 0 20px;
  }
}
