@import "../../../styles/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 80px;
  height: 40px;
  border: none;
  font-weight: 500;
  transition: transform 0.3s;
  gap: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    color: $light-gray-color;

    &:hover {
      color: $light-gray-color;
    }

    &:active {
      transform: scale(1);
    }
  }
}
