@import "../../../styles/variables.scss";

.menuButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1000px;
  height: 100%;
  width: 100%;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .menuItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: darken($green-color, 10);
      height: 100px;
      width: 150px;
      gap: 5px;
      border-radius: 25px;
      border: none;
      color: #ededed;
      padding: 0px 20px;
      transition: all 0.5s;

      span {
        color: #ededed;
      }

      &:hover {
        background-color: $green-color;
        color: white;

        span {
          color: white;
        }
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .menuItemPrice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border: none;
      background-color: transparent;

      &:hover {
        .text {
          background-color: $green-color;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: darken($green-color, 10);
        height: 90px;
        width: 242px;
        border-radius: 25px 25px 0 0;
        border: none;
        color: white;
        padding: 0px 30px;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.5s;
      }

      .prices {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        border: none;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $blue-color;
          height: 50px;
          width: 242px;
          font-weight: 500;
          font-size: 14px;
          color: white;
          transition: all 0.5s;
          cursor: pointer;

          &:active {
            transform: scale(0.9);
          }

          &:hover {
            background-color: darken($blue-color, 10);
          }
        }

        .priceLeft {
          border-radius: 0 0 25px 25px;
        }

        // .priceRight {
        //   border-radius: 0 0 25px 0;
        // }
      }
    }
  }
}
