@import "../../../styles/mixins.scss";

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  height: auto;
  background-color: #eeeeee;
  gap: 40px;

  @include media-md() {
    display: none;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    color: #03495C;

    @include media-md() {
      font-size: 22px;
    }
  }
}