@import "../../../styles/variables.scss";
@import "../../../styles/functions.scss";

.inputText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .input {
    width: 100%;
    height: 50px;
    border: 1px solid $light-gray-color;
    background-color: $white-color;
    border-radius: 3px;
    // border-bottom: 2px solid $light-gray-color;
    // border-top: 1px solid $ultra-light-gray-color;
    // background-color: lighten(gray, 49);
    padding-left: 15px;
    padding-top: 15px;
    text-align: left;
    font-size: pxToRem(16);
    color: black;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:disabled {
      //border: 1px solid lighten($light-gray-color, 10);
      border: 1px solid $light-gray-color;
      background-color: lighten(gray, 49);
    }

    &:focus {
      background-color: $text-focus-color;
    }

    &:focus + label {
      color: $link-color;
      // transform: translateY(-13px) translateX(0px);
      // font-size: 12px;
    }

    &:not(:placeholder-shown) + label {
      transform: translateY(-13px) translateX(0px);
      font-size: 12px;
    }

    &.withIcon {
      width: calc(100% - 40px);
      border-radius: $border-radius-text 0 0 $border-radius-text;
      border-right: none;
    }

    &.noLabel {
      padding: 0 20px;
      height: 40px;
    }

    &.notValid {
      background-color: #ffebee;
    }
  }

  label {
    left: 15px;
    position: absolute;
    color: $gray-color;
    transition: transform 0.3s;
    background-color: transparent;
    font-weight: 500;
    transform: translateY(-13px) translateX(0px);
    font-size: 12px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-gray-color;
    height: 50px;
    width: 40px;
    background-color: $light-gray-color;
    border-radius: 0 $border-radius-text $border-radius-text 0;
    cursor: pointer;

    &:hover {
      svg {
        font-size: 20px;
        color: $black-color;
      }
    }

    svg {
      font-size: 20px;
      color: $gray-color;
    }
  }
}
