@import "../../../styles/variables.scss";

.menu,
.menuModal {
  display: flex;
  gap: 10px;

  .menuOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green-color;
    color: white;
    height: 100px;
    border-radius: 25px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in;

    span {
      color: white;
    }

    &:hover {
      background-color: darken($green-color, 10);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.menuModal {
  .menuOption {
    background-color: $blue-color;

    &:hover {
      background-color: darken($blue-color, 10);
    }
  }
}
