.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.contentCell {
  display: flex;
  flex-direction: column;
}

.contentRow {
  display: flex;
}

.contentCellSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: 500;
  height: 40px;
  background-color: #959595;
  color: white;
}
