@import "../../../app/styles/mixins.scss";

.benefit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include media-lg() {
    width: 100%;
    justify-content: center;
  }

  @include media-md() {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  padding: 20px;
  box-sizing: border-box;

  img {
    width: 174px;
    height: auto;
  }

  @include media-md() {
    img {
      width: 140px;
    }
  }

  @include media-sm() {
    img {
      width: 120px;
    }
  }
}

.textContainer {
  height: 5em;
  display: flex;
  align-items: center;
  text-align: center;

  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: #03495c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-md() {
      font-size: 20px;
    }

    @include media-sm() {
      font-size: 18px;
    }
  }
}

@include media-sm() {
  .benefit {
    justify-content: center;
    padding-top: 20px;
  }

  .content {
    width: 100%;
    max-width: 200px;
  }

  .textContainer {
    height: auto;
  }
}
