.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 33px 0;

  .content {
    font-size: 32px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    color: #03495c;
    width: 1000px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .paragraph {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
  
    .content {
      font-size: 18px;
      line-height: 1.5;
      font-family: "Inter", sans-serif;
      color: #03495c;
      text-align: center;
      width: 95%;
    }
  }
}